{% extends "base.html" %}
{% block content %}

<section class="card">
    <h2>Stored Health Records</h2>

    {% if records %}
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>BMI</th>
            <th>Status</th>
            <th>Lifestyle</th>
            <th>Stress</th>
            <th>Date</th>
        </tr>

        {% for r in records %}
        <tr>
            <td>{{ r.name }}</td>
            <td>{{ r.age }}</td>
            <td>{{ r.bmi }}</td>
            <td>{{ r.bmi_status }}</td>
            <td>{{ r.lifestyle }}</td>
            <td>{{ r.stress }}</td>
            <td>{{ r.created_at.strftime('%d-%m-%Y %H:%M') }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No records found.</p>
    {% endif %}

    <a class="btn" href="/">Go Back</a>
</section>

{% endblock %}
